In [1]:
import pandas as pd

In [4]:
# loading the dataset
df = pd.read_csv('data/literacy_rates_data.csv')
df.head()

,index,Region,Country,Year,Age,Gender,Literacy rate
0,0,Central and Southern Asia,Afghanistan,2011,15+,female,0.176121
1,1,Central and Southern Asia,Afghanistan,2011,15+,male,0.454171
2,2,Central and Southern Asia,Afghanistan,2011,15+,total,0.317411
3,3,Central and Southern Asia,Afghanistan,2011,15-24,female,0.321132
4,4,Central and Southern Asia,Afghanistan,2011,15-24,male,0.618791

In [6]:
print("Dataset features: {}, Number of samples: {}".format(df.shape[1], df.shape[0]))

Dataset features: 7, Number of samples: 4955

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4955 entries, 0 to 4954
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          4955 non-null   int64
 1   Region         4955 non-null   object
 2   Country        4955 non-null   object
 3   Year           4955 non-null   int64
 4   Age            4955 non-null   object
 5   Gender         4955 non-null   object
 6   Literacy rate  4955 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 271.1+ KB

In [11]:
# to increase number of rows printed
pd.set_option("display.max_rows", 100)
df

,index,Region,Country,Year,Age,Gender,Literacy rate
0,0,Central and Southern Asia,Afghanistan,2011,15+,female,0.176121
1,1,Central and Southern Asia,Afghanistan,2011,15+,male,0.454171
2,2,Central and Southern Asia,Afghanistan,2011,15+,total,0.317411
3,3,Central and Southern Asia,Afghanistan,2011,15-24,female,0.321132
4,4,Central and Southern Asia,Afghanistan,2011,15-24,male,0.618791
...,...,...,...,...,...,...,...
4950,4950,Sub-Saharan Africa,Zimbabwe,2014,25-64,male,0.897255
4951,4951,Sub-Saharan Africa,Zimbabwe,2014,25-64,total,0.887874
4952,4952,Sub-Saharan Africa,Zimbabwe,2014,65+,female,0.734258
4953,4953,Sub-Saharan Africa,Zimbabwe,2014,65+,male,0.927231
4954,4954,Sub-Saharan Africa,Zimbabwe,2014,65+,total,0.811269